body {
  min-width:300px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: #5c6470;
  font-size: 80%;
  display: block;
  margin: 0px;
}

.container {
 margin: 5px;
}

.header-section {
  background-color: #101010;
}

.bz-pop-table{
  width:100%;
}

.plaintext {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bz-pop-table tr td:first-child{
  width:0;
  white-space: nowrap;
}
.bz-pop-table tr>td:last-child{
  width:0;
}
.bz-pop-table tr>td:nth-child(2){
  width:100% !important;
}
.bz-pop-table tr>td>*{
  width:100%;
}

.style-5 input[type="text"] {
  padding: 10px;
  margin: 2px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.fullwidth {
    width: 280px;
    height: 18px;
    margin: 5px 0px 5px 0px;
    font-size:14px;
}

.btn.btn-success:hover {
    background-color: #325EEA;
}

.btn.btn-success {
    background-color: #3E65FF;
    border-color: #325EEA;
}

.select-style {
    border: 1px solid #ccc;
    height: 28px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")
no-repeat 90% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}    { background-color: #3b8ec2; }

.btn {
    color: #fff;
    display: inline-block;
    padding: 4px 18px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

.bottomlink {
  text-align:right;
  margin-top: 8px;
}
